# Data processing
numpy
pandas
scikit-learn

# Image handling
Pillow

# Visualization
matplotlib
seaborn
tqdm

# To access .env
python-dotenv

# streamlit
streamlit

# Deep learning
torch
torchvision

# Deployment
docker

# Jupyter / notebooks
jupyter
ipykernel
