# Data processing
numpy
pandas
scikit-learn

# Image handling
Pillow

# Visualization
matplotlib
seaborn
tqdm

# To access .env
python-dotenv

# Deep learning
torch
torchvision
torchaudio

# ONNX export and runtime
onnx
onnxruntime

# Deployment
flask
boto3
docker

# Jupyter / notebooks
jupyter
ipykernel
